
.card{
    height: 90%;
    width: 450px;
    color: white;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem 2rem;
    border: 2px #eee solid;
    border-radius: 15px;
    margin: 25px;
    .center-flex(space-evenly, center);
    flex-direction: column;
    text-align: center;
    // h3{

    // }
    // p{

    // }
    @media @tablet{
        width: 750px;
    }
    @media @desktop{
        width: 950px;
    }
}
